{{> menu}}

<!-- Nội dung -->
<div class="bg-light p-4">
    <a href='/index/insert_getmovie' class='btn btn-success mb-5'>Add Movie</a>
    <table class="table text-center">
      <thead>
        <tr class="table-dark">
          <th>Title</th>
          <th>Category</th>
          <th>Ratings Average</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each movies}}
        <tr>
            <td>{{this.title}}</td>
            <td>{{this.category}}</td>
            <td>{{this.ratingsAverage}}</td>
            <td>
              <a href='/index/deletemovie/{{this._id}}' class='btn btn-danger'>Delete</a>
              <a href='/index/detailmovie/{{this._id}}' class='btn btn-primary'>Update</a>
            </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
</div>


