{{> menu}}
    
    
<!-- Nội dung -->
<div class="p-4">

    {{!-- Insert Room --}}
    <button type="button" class="btn btn-success mb-3" data-bs-toggle="modal" data-bs-target="#addRoom">Add Room</button>
    <!-- Modal -->
    <div class="modal fade rounded" id="addRoom" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header d-flex justify-content-center" style="background-color:#DA004E;">
            <h5 class="modal-title text-white">Add Room</h5>
          </div>
          <div class="modal-body" style="background-color:#130B2B;">
            <form action="/room/insert_postroom" method="post">
              <div class="mb-3 mt-3">
                  <label for="name">Name:</label>
                  <input type="text" class="form-control" id="name" name="name" required>
              </div>
              <div class="mb-3 mt-3">
                  <label for="cinema">Cinema</label>
                  <select class="form-control" id="cinema" name="cinema" required>
                    {{#each cinema}}
                        <option value="{{_id}}">{{name}}</option>
                    {{/each}}
                  </select>
              </div>
              <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-secondary m-2" data-bs-dismiss="modal">Close</button>
                <button name="submit" type="submit" class="btn btn-success m-2">Add</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <table class="table table-dark text-center">
      <thead>
        <tr>
          <th>Name</th>
          <th>Cinema</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each rooms}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.cinema.name}}</td>
            <td>
              <a href='/room/deleteroom/{{this._id}}' class='btn btn-danger'>Delete</a>
            </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
</div>
<!-- Nội dung -->